---
import { Icon } from "astro-icon";
import Badge from "./Badge.astro";
import { getIconByCountry } from "../../libs/icons";
import type { Talk } from "../../data/talksData";

export interface Props {
  talkData: Talk;
}

const { talkData } = Astro.props;

const flagIcon = getIconByCountry(talkData.country);
---

<div class="flex border-gray-200 rounded-xl bg-gray-50/95 p-2">
  <div class="place-self-center">
    <Badge communityImg={talkData.communityImg} />
  </div>
  <div class="grow px-3">
    <div>{talkData.communityName} - {talkData.year}</div>
    <div class="text-sm">{talkData.talkTitle}</div>
  </div>
  <div class="place-self-center">
    <Icon name={flagIcon} class="w-12 h-12" />
  </div>
</div>
