---
import Layout from "../layouts/Layout.astro";
import YugiohCard from "../components/homePage/YugiohCard.astro";
import Notification from "../components/homePage/Notification.astro";
import AboutMe from "../components/homePage/AboutMe.astro";
import GalleryCard from "../components/homePage/GalleryCard.astro";
import RedesNotificationContainer from "../components/homePage/RedesNotificationContainer.astro";
import Stats from "../components/homePage/Stats.astro";
import { generalStats } from "../data/generalStats";
import { talkForCountry, talksData } from "../data/talksData";
import Badge from "../components/homePage/Badge.astro";
import TalkLine from "../components/homePage/TalkLine.astro";
---

<Layout title="Damian Sire">
  <div
    style="background-image: url('https://wallpaperaccess.com/full/295661.jpg');"
    class="grid grid-cols-11 bg-gradient-to-t h-screen p-6 bg-no-repeat bg-center"
  >
    <div class="col-span-8 gap-4">
      <div class="flex justify-evenly">
        {
          generalStats.map(({ iconName, title, text }) => (
            <Stats iconName={iconName} title={title} text={text} />
          ))
        }
      </div>
      <div class="grid grid-cols-10 gap-4 p-4">
        <div class="bg-red-800 col-span-3 gap-3 grid grid-cols-1 grid-rows-11">
          {
            Object.keys(talkForCountry).map((countryName) => (
              <TalkLine countryName={countryName} talkForCountry={talkForCountry} />
            ))
          }
        </div>
        <div class="py-10 bg-neutral-800/40 flex col-span-7">
          <AboutMe />
        </div>
      </div>
    </div>

    <div class="col-span-3 min-w-[450px]">
      <Notification text="Hello! While you're here, let's talk 🔥" />
      <br />
      <RedesNotificationContainer />
      <br />
      <YugiohCard />
    </div>
  </div>
</Layout>
